<!DOCTYPE html>
<html lang="en">
{{> header}}

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<div class="content">

    <body>
        {{{ body }}}

</html>
</body>
</div>
{{> footer}}

</html>