{{#if posts.length}}
  {{!-- Render the posts --}}
  {{#each posts}}
    <div class="post">
      <h2>{{title}}</h2>
      <p>{{content}}</p>
    </div>
  {{/each}}
{{else}}
  {{!-- No posts found --}}
  <p>No posts available</p>
{{/if}}
<a href="/users/logout">Logout</a>

