<!DOCTYPE html>
<html lang="en">
{{> header}}
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/users/api/login" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Login">
    </form>
    {{#if errorMessage}}
        <p style="color: red;">{{errorMessage}}</p>
    {{/if}}
    <p>Don't have an account? <a href="/signup">Sign up</a>.</p>
</body>
{{> footer}}
</html>
